<form action="" method="POST" enctype="multipart/form-data">
    <label>Registration Number:</label>
    <input type="text" name="registration_number" required placeholder="Registration Number">
    <label>Number Plate Picture:</label>
    <input type="file" name="number_plate_picture" required>
    <label>End Date:</label>
    <input type="date" name="end_date" required>
    <input type="submit">
</form>