<form action="" method="POST">
    <input type="text" name="registration_number" required placeholder="Registration Number">
    <input type="text" name="insurance_number" required placeholder="Insurance Number">
    <input type="text" name="owner_name" required placeholder="Owner Name">
    <input type="date" name="end_date" required placeholder="End date">
    <input type="text" name="insurance_name" required placeholder="Insurance Name">
    <input type="submit" name="submit">
</form>