<form action="" method="POST">
    <input type="text" name="registration_number" required placeholder="Registration Number">
    <input type="text" name="owner_name" required placeholder="Owner Name">
    <input type="text" name="chassis_number" required placeholder="Chassis Number">
    <input type="text" name="vehicle_model" required placeholder="Vehicle Model">
    <select name="fuel_type" placeholder="Fuel type">
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>
    </select>
    <input type="submit" name="submit">
</form>