<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    {{!-- <link rel="apple-touch-icon" sizes="76x76" href="https://afternoon-springs-99599.herokuapp.com/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="https://afternoon-springs-99599.herokuapp.com/icons/favicon.png"> --}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Traffic Monitor</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="https://afternoon-springs-99599.herokuapp.com/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://afternoon-springs-99599.herokuapp.com/assets/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="https://afternoon-springs-99599.herokuapp.com/assets/css/demo.css" rel="stylesheet" />
</head>
<body>
    {{{body}}}
</body>
<!--   Core JS Files   -->
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: https://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: https://refreshless.com/nouislider/ -->
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="https://afternoon-springs-99599.herokuapp.com/assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
</html>